<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <h3 class="center">Add a new link here:</h3>
      <%= form_for @link, url: links_path do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :url %>
        <%= f.text_field :url %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
  <div>
    <a class="btn sort-btn">Sort</a>
    <a class="btn read-btn">Read</a>
    <a class="btn unread-btn">Unread</a>
  </div>

  <div>
    <ul id="link-listing"></ul>
  </div>
</div>
