<%= link_to "Logout", '/logout', method: :delete %>

<h1>ThoughtBox</h1>
<h3>Add a new link here:</h3>
<%= form_for @link, url: links_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit "Submit" %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Read</th>
  <tr>
  <% @links.each do |link| %>
    <tr>
      <td class="read-<%= link.read %>"><%= link.title %></td>
      <td><%= link.url %></td>
      <td><%= link.read %></td>
    <tr>
  <% end %>
</table>
