<h1>Login to ThoughtBox</h1>

<%= form_for :session, url: login_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Login" %>
<% end %>

<h3>New to ThoughtBox?  Sign up <%= link_to "here", new_user_path %></h3>
